<body>
    <div>
        <br />
            @Html.Label("Jesteś zalogowany jako: Admin", new { @class = "pmtallocated pull-right", @style = "text-align:right" })
    </div>
</body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button type="button" id="Dom" class="btn btn-default"><a href="/"><span class="glyphicon glyphicon-home"></span></a></button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dodaj<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Studenta", "DodajStudenta", "Admin", null)</li>
                        <li>@Html.ActionLink("Kierunek", "DodajKurs", "Admin", null)</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Studenci", "ListaStudentow", "Admin")</li>
                <li>@Html.ActionLink("Kursy", "ListaKursow", "Admin")</li>  
            </ul>
        </div>
    </div>
</nav>